:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/back1.jpg');
    background-position: center center;
    background-size: cover;
}
.register-form{
    min-width: 300px;
    background-color:  #354351;
    opacity: .93;
    padding: 20px;
    color: #FFFFFF;
}
a {
    line-height: 32px;
}
button {
    float: right;
}
.message {
    float: right;
}